<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


</head>
<body>

    <div class="container">
        <div class="card-group row">
            <div class="card col-lg-4 border-0">
                    <div class="col-lg-12" style="border:1px solid #000;">
                        <img src="https://chaldn.com/_mpimage/china-orange-40-gm-800-gm?src=https%3A%2F%2Feggyolk.chaldal.com%2Fapi%2FPicture%2FRaw%3FpictureId%3D70530&q=low&v=1&m=400&webp=1" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" style="min-height: 80px;">Coconut 250mg</h5>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <div class="button">Button</div>
                        </div>
                    </div>
                </div>
            <div class="card col-lg-4 border-0">
                <div class="col-lg-12" style="border:1px solid #000;">
                    <img src="https://chaldn.com/_mpimage/china-orange-40-gm-800-gm?src=https%3A%2F%2Feggyolk.chaldal.com%2Fapi%2FPicture%2FRaw%3FpictureId%3D70530&q=low&v=1&m=400&webp=1" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="min-height: 80px;">Coconut 250mg</h5>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <div class="button">Button</div>
                    </div>
                </div>
            </div>
            <div class="card col-lg-4 border-0">
                <div class="col-lg-12" style="border:1px solid #000;">
                    <img src="https://chaldn.com/_mpimage/china-orange-40-gm-800-gm?src=https%3A%2F%2Feggyolk.chaldal.com%2Fapi%2FPicture%2FRaw%3FpictureId%3D70530&q=low&v=1&m=400&webp=1" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="min-height: 80px;">Coconut 250mg</h5>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <div class="button">Button</div>
                    </div>
                </div>
            </div>
            <div class="card col-lg-4 border-0">
                <div class="col-lg-12" style="border:1px solid #000;">
                    <img src="https://chaldn.com/_mpimage/china-orange-40-gm-800-gm?src=https%3A%2F%2Feggyolk.chaldal.com%2Fapi%2FPicture%2FRaw%3FpictureId%3D70530&q=low&v=1&m=400&webp=1" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="min-height: 80px;">Coconut 250mg</h5>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <div class="button">Button</div>
                    </div>
                </div>
            </div>
            <div class="card col-lg-4 border-0">
                <div class="col-lg-12" style="border:1px solid #000;">
                    <img src="https://chaldn.com/_mpimage/china-orange-40-gm-800-gm?src=https%3A%2F%2Feggyolk.chaldal.com%2Fapi%2FPicture%2FRaw%3FpictureId%3D70530&q=low&v=1&m=400&webp=1" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="min-height: 80px;">Coconut 250mg</h5>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <div class="button">Button</div>
                    </div>
                </div>
            </div>
            <div class="card col-lg-4 border-0">
                <div class="col-lg-12" style="border:1px solid #000;">
                    <img src="https://chaldn.com/_mpimage/china-orange-40-gm-800-gm?src=https%3A%2F%2Feggyolk.chaldal.com%2Fapi%2FPicture%2FRaw%3FpictureId%3D70530&q=low&v=1&m=400&webp=1" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="min-height: 80px;">Coconut 250mg</h5>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <div class="button">Button</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>